.rts-project-area {
     .section-title {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          margin-bottom: 60px;

          @include mq($md) {
               flex-wrap: wrap;
               gap: 30px;
               justify-content: center;
               text-align: center;
          }

          .desc {
               max-width: 555px;

               @include mq($lg) {
                    max-width: 500px;
               }
          }
     }
}

.project-left-content {
     .pre {
          display: inline-block;
          color: #011E19;
          font-size: 24px;
          font-family: 'Archivo', sans-serif;
          font-weight: var(--f-medium);
          line-height: 1;
          position: relative;
          padding-left: 20px;
          margin-bottom: 17px;

          &::before {
               content: '';
               position: absolute;
               top: 50%;
               transform: translateY(-50%);
               left: 0;
               width: 15px;
               height: 15px;
               border-radius: 50%;
               background: #004638;
          }
     }

     .title {
          color: #004638;
          font-size: 48px;
          font-weight: var(--f-medium);
          line-height: 1.3;
          letter-spacing: -0.03em;
          margin-bottom: 40px;

          @media(max-width:1600px) {
               font-size: 44px;
          }

          @include mq($lg) {
               font-size: 35px;
          }

          @include mq($md) {
               font-size: 30px;

               br {
                    display: none;
               }
          }
     }

     .project-feature-list {
          padding: 0;
          margin-bottom: 50px;

          li {
               display: flex;
               align-items: center;
               gap: 10px;
               color: #111827;
               font-weight: var(--f-medium);

               &:not(:last-child) {
                    margin-bottom: 20px;
               }
          }
     }
}

.project-right-image {
     img {
          border-radius: 40px;
     }
}

.project__main__wrapper {
     margin-top: 86px;

     @include mq($xl) {
          margin-top: 80px;
     }

     @include mq($lg) {
          margin-top: 47px;
     }

     @include mq($md) {
          margin-top: 50px;
     }

     @include mq($sm) {
          margin-top: 55px;
     }

     .project__wrapper {
          position: sticky;
          top: 120px;

          &:nth-child(2) {
               top: 220px;
          }

          &:nth-child(3) {
               top: 320px;
          }

          @include mq($lg) {

               position: static;
          }

          .project__item {
               &__card {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;
                    padding: 20px;
                    border: 1px solid #E7EDBE;
                    border-radius: 10px;
                    position: relative;
                    background: var(--rts-white);

                    @include mq($md) {
                         flex-direction: column-reverse;
                    }
               }

               &__content {
                    border-radius: 6px;
                    background: #F1FF94;
                    padding: 54px 70px 54px 40px;
                    flex-basis: 65%;

                    @include mq($lg) {
                         padding: 54px 20px 54px 40px;
                         flex-basis: 85%;
                    }

                    @include mq($sm) {
                         padding: 20px;
                    }

                    &.style-2 {
                         background: var(--heading-color);
                    }

                    .sub-title {
                         display: inline-block;
                         padding: 2px 18px;
                         color: var(--rts-heading);
                         font-size: 14px;
                         font-family: var(--font-primary);
                         font-weight: 500;
                         border: 1px solid var(--rts-border);
                         border-radius: 100px;
                    }

                    .project__list {
                         padding: 0;

                         li {
                              margin-bottom: 4px;
                              color: var(--rts-heading);

                              i {
                                   margin-right: 5px;
                              }
                         }

                         &.style-2 {
                              li {
                                   color: var(--rts-neon);
                              }
                         }
                    }
               }

               &__img {
                    flex-basis: 65%;
                    overflow: hidden;
                    border-radius: 6px;

                    img {
                         transform: scale(1.1);
                         transition: var(--transition);
                    }
               }
          }

          &:hover {
               .project__item {
                    &__img {
                         img {
                              transform: scale(1.5);
                         }
                    }
               }
          }
     }
}

.rts__project__area.area-two {
     .rts-section-title-area {
          display: flex;
          align-items: center;
          justify-content: space-between;

          @include mq($md) {
               flex-wrap: wrap;
               gap: 30px;
          }
     }

     .project__wrapper__two {
          margin-top: 50px;

          .project__single__item {
               .thumb {
                    overflow: hidden;
                    border-radius: 20px;
                    margin-bottom: 30px;

                    img {
                         display: block;
                         width: 100%;
                         height: 100%;
                         object-fit: cover;
                         transition: var(--transition);
                    }
               }

               .content {
                    .title {
                         color: var(--rts-black);
                         font-size: 24px;
                         line-height: 1;
                         transition: var(--transition);

                         &:hover {
                              color: var(--rts-heading);
                         }
                    }

                    .desc {
                         color: #747474;
                    }
               }

               &:hover {
                    .thumb {
                         img {
                              transform: scale(1.06);
                         }
                    }
               }
          }

     }
}

.rts__project__area.area-three {
     .section-title-area {
          display: flex;
          align-items: center;
          justify-content: space-between;

          @include mq($lg) {
               flex-wrap: wrap;
          }

          @include mq($md) {
               gap: 30px;
          }

          .section-title {
               display: flex;
               align-items: flex-start;
               gap: 100px;

               @include mq($lg) {
                    flex-direction: column;
                    gap: 30px;
               }

               @include mq($md) {
                    gap: 5px;
               }

               .heading-title-three {
                    max-width: 550px;
               }
          }
     }
}

.project__wrapper__2 {
     margin-top: 45px;

     @include mq($xs) {
          padding: 0 15px;
     }

     .swiper {
          border-radius: 10px;
     }

     .project__slide__item {
          overflow: hidden;

          .img {
               position: relative;

               img {
                    border-radius: 10px;
               }

               .info {
                    background: var(--heading-color-2);
                    border-radius: 8px 0;
                    padding: 20px;
                    position: absolute;
                    bottom: 0;
                    right: -45%;
                    transition: all .5s;


                    &.style-2 {
                         background: var(--rts-white);
                         border-radius: 6px;
                         left: -100%;
                         bottom: 30px;
                         max-width: 490px;
                         transition: all .5s;

                         @include mq($md) {
                              margin-top: 10px;
                              position: unset;
                              max-width: 100%;
                              opacity: 0;
                         }

                         @include mq($xs) {
                              opacity: 1;
                         }
                    }

                    p {
                         color: var(--rts-heading);

                         span {
                              font-weight: 400;
                         }
                    }

                    .top {
                         display: flex;
                         justify-content: space-between;
                         border-bottom: 1px solid var(--rts-border);
                         padding-bottom: 16px;
                         margin-bottom: 16px;

                         .title {
                              font-size: 34px;
                              color: var(--rts-heading);
                              font-family: var(--font-inter);
                              font-weight: 500;
                              line-height: 36px;
                              letter-spacing: -0.04em;

                              @include mq($xs) {
                                   font-size: 24px;
                                   line-height: 1.2;

                                   br {
                                        display: none;
                                   }
                              }
                         }

                         .rts__btn__arrow {
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              min-width: 50px;
                              height: 50px;
                              border: 1px solid var(--heading-color);
                              border-radius: 50%;

                              i {
                                   transform: rotate(-45deg);
                              }
                         }
                    }

                    .bottom {
                         p {
                              color: var(--rts-para);
                              font-family: var(--font-inter);
                              font-weight: var(--f-medium);
                              margin-bottom: 7px;

                              span {
                                   color: var(--rts-heading);
                                   font-family: var(--font-inter);
                                   font-weight: var(--f-semi-bold);
                              }
                         }
                    }
               }
          }

          .content {
               margin-top: 16px;
               display: flex;
               justify-content: space-between;
               opacity: 0;
               transition: all .5s;

               .left {
                    .title {
                         margin: 0;
                    }

                    span {
                         font-family: var(--font-onest);
                    }
               }
          }
     }

     .swiper-slide.swiper-slide-active {
          .project__slide__item {
               .img {
                    .info {
                         right: 0;

                         &.style-2 {
                              left: 30px;
                              right: 30px;

                              @include mq($md) {
                                   opacity: 1;
                              }
                         }
                    }
               }

               .content {
                    opacity: 1;
               }
          }
     }
}

// project three

.title__area {
     display: flex;
     justify-content: space-between;

     @include mq($lg) {
          flex-direction: column;
          gap: 20px;
     }

     .subtitles {
          display: inline-block;
          padding: 9px 18px;
          color: var(--rts-white);
          font-size: 14px;
          font-family: var(--font-primary);
          font-weight: 500;
          border: 1px solid var(--rts-white);
          border-radius: 100px;
          line-height: 1;
          height: max-content;
          width: max-content;
     }

     .txt {
          h3 {
               color: var(--rts-white);
          }

          p {
               color: var(--rts-white);
          }
     }

     .rts__btn {
          display: flex;
          align-items: end;
     }
}


.rts__project__area {
     .rts-paginations {
          margin-top: 100px;
     }
}

// project deatils area

.rts__project__details__area {
     .rts__project__details {
          &__thumb {
               img {
                    border-radius: 10px;
               }
          }

          &__content {
               .single__details {
                    .heading {
                         color: var(--rts-black);
                         font-size: 48px;
                         font-weight: var(--f-semi-bold);
                         line-height: 1.2;

                         @include mq($xs) {
                              font-size: 30px;
                         }
                    }

                    .title {
                         color: var(--rts-heading);
                         font-size: 32px;
                         font-weight: var(--f-semi-bold);
                         line-height: 1.2;

                         @include mq($xs) {
                              font-size: 24px;
                         }
                    }

                    .mm {
                         margin-top: -4px;
                    }

                    .details__list {
                         padding: 0;

                         &.style-2 {
                              margin-top: 50px;
                              padding: 20px;
                              background: #E8F4E4;
                              border-radius: 16px;
                         }

                         li {
                              color: var(--heading-color);
                              border-radius: 100px;
                              position: relative;
                              margin-left: 16px;
                              font-size: 16px;
                              font-weight: var(--f-semi-bold);

                              &:not(:last-child) {
                                   margin-bottom: 8px;
                              }

                              &::before {
                                   position: absolute;
                                   content: '';
                                   display: inline-block;
                                   width: 4px;
                                   height: 4px;
                                   background: var(--heading-color);
                                   border-radius: 50%;
                                   top: 50%;
                                   transform: translateY(-50%);
                                   left: -14px;

                                   @include mq($xs) {
                                        top: 13px;
                                   }
                              }
                         }
                    }

                    &:not(:last-child) {
                         margin-bottom: 47px;
                    }
               }
          }

          &__info {
               margin-left: 50px;
               position: sticky;
               top: 120px;
               padding: 24px;
               background: var(--rts-white);
               border-radius: 20px;

               @include mq($lg) {
                    margin-left: 20px;
               }

               @include mq($md) {
                    margin-left: 0;
               }

               p {
                    span {
                         color: var(--heading-color);
                    }

                    border-bottom: 1px solid var(--rts-border);
                    padding-bottom: 8px;
                    margin-bottom: 8px;
               }
          }
     }
}