
/*---------------------------------------
    - Margin & Padding
-----------------------------------------*/
/*-- Margin Top --*/
@for $i from 1 through 140 {
  .mt-#{1 * $i} {
    margin-top: 1px * $i;
  }
}
/*-- Margin Bottom --*/
@for $i from 1 through 140 {
  .mb-#{1 * $i} {
    margin-bottom: 1px * $i;
  }
}
/*-- Margin Left --*/
@for $i from 1 through 100 {
  .ml-#{1 * $i} {
    margin-left: 1px * $i;
  }
}

/*-- Margin Right --*/
@for $i from 1 through 100 {
  .mr-#{1 * $i} {
    margin-right: 1px * $i;
  }
}

/*-- Padding Top --*/
@for $i from 1 through 150 {
  .pt-#{1 * $i} {
    padding-top: 1px * $i;
  }
}

/*-- Padding Bottom --*/
@for $i from 1 through 150 {
  .pb-#{1 * $i} {
    padding-bottom: 1px * $i;
  }
}

/*-- Padding Left --*/
@for $i from 1 through 130 {
  .pl-#{1 * $i} {
    padding-left: 1px * $i;
  }
}

/*-- Padding Right --*/
@for $i from 1 through 100 {
  .pr-#{1 * $i} {
    padding-right: 1px * $i;
  }
}

/*-- Padding X --*/

@for $i from 1 through 150 {
  .px-#{1 * $i} {
    padding-left: 1px * $i;
    padding-right: 1px * $i;
  }
}

/*-- Padding Y --*/
@for $i from 1 through 150 {
  .py-#{1 * $i} {
    padding-top: 1px * $i;
    padding-bottom: 1px * $i;
  }
}

/*-- Margin X --*/

@for $i from 1 through 150 {
  .mx-#{1 * $i} {
    margin-left: 1px * $i;
    margin-right: 1px * $i;
  }
}

/*-- Margin Y --*/
@for $i from 1 through 150 {
  .my-#{1 * $i} {
    margin-top: 1px * $i;
    margin-bottom: 1px * $i;
  }
}

.rts-section-gap {
  padding: 140px 0;

  @include mq($lg) {
    padding: 100px 0;
  }

  @include mq($md) {
    padding: 80px 0;
  }

  @include mq($sm) {
    padding: 60px 0;
  }
}

.rts-section-gap2 {
  padding: 120px 0;

  @include mq($md) {
    padding: 80px 0;
  }

  @include mq($sm) {
    padding: 60px 0;
  }
}

.rts-section-gapTop {
  padding-top: 140px;

  @include mq($lg) {
    padding-top: 100px;
  }

  @include mq($md) {
    padding-top: 80px;
  }

  @include mq($sm) {
    padding-top: 60px;
  }
}

.rts-section-gapTop2 {
  padding-top: 120px;

  @include mq($md) {
    padding-top: 80px;
  }

  @include mq($sm) {
    padding-top: 60px;
  }
}

.rts-section-gapBottom {
  padding-bottom: 140px;

  @include mq($lg) {
    padding-bottom: 100px;
  }

  @include mq($md) {
    padding-bottom: 80px;
  }

  @include mq($sm) {
    padding-bottom: 60px;
  }
}

.rts-section-gapBottom2 {
  padding-bottom: 120px;

  @include mq($md) {
    padding-bottom: 80px;
  }

  @include mq($sm) {
    padding-bottom: 60px;
  }
}